body {
	margin: auto;
	overflow-x: hidden; /*For hamburger menu*/
}

div {
/*	border: 1px dotted blue;*/
}

h1 {
	font-family: 'Poiret One', 'Geneva', cursive;
	font-size: 50px;
	font-weight: bold;
}

a {
	color: #808080;
	text-decoration: none;
}

a:hover, a:active {
	padding: .2em 0;
	border-bottom: 3px solid #ffd164;
}

header {
	margin: 0 auto 5em auto;
	max-width: 1200px;
	border-bottom: 2px solid #000000;
}

nav{
	margin: 0;
	font-family: 'Arvo', 'Palatino', serif;
	font-size: 18px;
	letter-spacing: .04em;
	float: right;
	padding: 1.5em;
}

section {
	max-width: 1200px;
	margin: auto;
}

footer {
	border-top: 2px solid #000000;
	max-width: 1200px;
	margin: 5em auto 2.5em auto;
	padding: 1em 0 0 0;
	font-family: 'Arvo', 'Palatino', serif;
	font-size: 18px;
	letter-spacing: .04em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

#top-header {
	margin: 0 2em 2em 2em;
}

#logo {
	color: #000000;
	float: left;
}

#logo:hover {
	color: #808080;
	border-bottom: none;
	padding: 0;
}

#right-nav {
	max-width: 500px;
	float: right;
}

#wordmark {
	max-width: 350px;
	text-align: left;
	float: left;
}

#footer-content {
	max-width: 1000px;
	margin: auto;
	text-align: center;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*This is all for hamburger menu*/
.cart-nav {
    list-style: none;
    background: #808080;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 3em 0 0 1em;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 4em 0;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5'/><rect y='24' width='30' height='5'/><rect y='12' width='30' height='5'/></svg>");
    background-size: contain;
}

/*How to make the icon yellow? Or better yet, make it a cart icon?*/

.nav-trigger:checked + label {
    left: 215px;
}
 
.nav-trigger:checked ~ .site-wrap {
    left: 200px;
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

.cart-item a{
	color: #fff;
	font-family: 'Arvo', 'Palatino', serif;
	font-size: 18px;
	letter-spacing: .04em;
	line-height: 45px;
}

/*End hamburger menu*/

.inline-nav {
	display: inline;
	padding: 0 1.5em 0 0;
}

.grid {
	max-width: 848px;
	margin: 20px auto;
	text-align: center;
}

.grid li {
	margin: .75em;
	width: 400px;
	float: left;
}

.grid figure {
	height: 400px;
	overflow: hidden;
	position: relative;
	width: 400px;
}

.grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.grid figcaption {
	background: rgba(0,0,0,0.5);
	color: #fff;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
	text-align: left;
}

.grid figcaption p {
	font-family: 'Poiret One', 'Geneva', cursive;
	font-size: 75px;
	line-height: 1.1em;
	padding: 200px 0 0 20px; /*is this the best way to do this?*/
}

.grid li:hover figure {
	outline: .6em solid #ffd164;
}

.grid li:hover figcaption {
	opacity: 1;
}

.footer-list {
	line-height: 2.5em;
}
