body {
	font-family: 'Open Sans', sans-serif;
	color: #262626;
	font-size: 13px;
	line-height: 1.5em;
	background-color: #ecf1f2;
	overflow-x: hidden; /*(For Hidden Nav)*/
}

header {
	background-color: #00957f;
	position: absolute;
	width: 100%;
	top: 0;
}

nav {
	background-color: #C6D3D7;
	font-size: 1.1em;
}

nav ul {
	width: 960px;
	margin: 0 auto;
	padding: .6em 0;
}

nav ul li {
	float: left;
	padding: 0 2.5em;
/*	border-right: 1px solid #262626;*/
}

nav a {
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: 600;
}

nav a:hover {
	color: #fff;
}

main {
	width: 960px;
/*	border: 1px solid blue;*/
	margin: 7.5em auto 1em auto;

}


aside {
	width: 32%;
	float: right;
}

section {
	margin: 1em 0;
	padding: 1.5em 1.5em;
/*	border: 1px solid red;*/
	background-color: #fff;
}


article {
	padding: .2em 0;
	margin: 1em 0;
}

h1 {
	font-size: 1.6em;
	padding: .2em 0 1em 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

h2 {
	font-size: 1.4em;
	padding: .1em 0 .4em 0;
}

h3 {
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

h4 {
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #005a8f;
}

a:hover {
	color: #c6d3d7;
}

p {
	margin: .6em auto;
}

iframe {
	width: 100%;
	height: 20em;
	display: block;
}

footer {
	background-color: #C6D3D7;
	margin-top: 4em;
	padding: 1.5em 0;
}

/*------------------------- Mobile Nav -----------------*/

.hidden-nav {
	display: none;
}

.nav-trigger {
	display: none;
}

/*----------------------------- Header -------------------*/

#top-header {
	width: 960px;
	margin: 0 auto;
	padding: .5em 0;
}

#logo {
	float: left;
	margin: .5em 2em 0 0;
}

#search {
	width: 50%;
	height: 2.5em;	
	border: .125em solid #262626;
	border-radius: .125em;
	background-color: #fff;
	float: right;
}

#search p {
	float: left;
	line-height: 1.4em;
	margin-left: 1em;
}

#search-btn {
	float: right;
	height: 100%;
	cursor:pointer;
	padding: 1%;
	border: none;
}



/*-------------------- Footer --------------------*/

#footer-nav {
	width: 960px;
	margin: 0 auto;
}

#footer-nav ul {
	float: right;
}

#footer-nav ul li {
	display: inline-block;
	padding-left: 5em;
}

#footer-nav ul li h3 a {
	color: #262626;
}

#footer-nav ul li h3 a:hover {
	color: #fff;
}

/*------------------ Home (not logged in) -----------------*/

#home-fixed {
	position: initial;
}

#home-header {
	width: 960px;
	margin: 0 auto;
	padding: .5em 0;
}
#sign-in {
	float: right;
	margin-top: 1em;
}

#sign-in h3{
	display: inline;
	margin: none;
}

#hero {
	background-image: url("images/summer-playground.jpg");
	background-repeat: no-repeat;
	height: 35em;
	width: 100%;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

#hero-content {
	max-width: 27em;
	text-align: left;
	position: relative;
	top: 16%;
	left: 20%;
	margin-bottom: 0;
}

#hero-content h1 {
	font-size: 2.5em;
	line-height: 1.5em;
}

#hero-content ul {
	margin-left: 1.8em;
}

#hero-content ul li {
	font-size: 1.5em;
	margin-bottom: .8em;
}

#hero-content ul li img, #hero-content ul li p {
	display: inline;
}

#hero-content ul li img {
	margin-right: .5em;
}

#hero-join {
	background: rgba(26, 26, 26, .7);
	padding: 1.5em;
	font-family: 'Raleway', sans-serif;
	color: #005a8f;
	margin-top: 13.2em;
}

#submit {
	margin: 0 auto;
	max-width: 960px;
}

#hero-join button {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	background-color: #ffd425;
	cursor: pointer;
	height: 2em;	
	padding: .3em;
	float: left;
	margin-left: .5em;
}

#hero-join button:hover {
	background-color: #00957f;
	color: #fff;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;

}

#home {
	margin-top: 3em;
}

#home-events-head {
	margin-bottom: 1.5em;
}

#home-events-head h2{
	display: inline;
	margin-right: .8em
}

#home-events-head a{
	margin-right: .3em;
}

.event-4col {
	margin-right: 3%;
}

.event-4col-last {
	margin-right: 0;
}

.event-4col, .event-4col-last {
	width: 22.5%;
	float: left;
}


.event-4col h3:hover, .event-4col-last h3:hover{
	color: #C6D3D7;
}


.event-4col img, .event-4col-last img {
	width: 100%;
	max-height: 10.5em;
}

.event-4col h3, .event-4col-last h3 {
	margin: .5em 0;
	color: #00957f;
}

.event-4col p, .event-4col-last p {
	margin: .2em 0;
}


.submit-field {
	border: .125em solid #262626;
	border-radius: .125em;
	background-color: #fff;
	display: inline-block;
	width: 16.1em;
	float: left;
	height: 3em;
}

.submit-field p {
	float: left;
	margin-left: 1em;
	font-size: 1.5em;
}


/*
.delius {
	font-family: 'Delius', cursive;
	color: #ffd425;
	font-size: 1.1em;
}*/

.lily {
	font-family: 'Lily Script One', cursive;
	color: #00957f;
	font-size: 1.1em;
}


/*-------------- Home Logged In ----------------*/

#dashboard-events h2, #dashboard-communities h2, #dashboard-groups h2, #dashboard-momadvisors h2, #dashboard-messages h2 {
	margin-bottom: .5em;

}

.dashboard-content {
	border: .08em solid #c6d3d7;
}

.dashboard-content h3 {
	text-transform: uppercase;
	margin: .8em;

}

.event-listing {
	margin: 1.5em 1em;

}

.event-listing img {
	width: 10em;
	float: left;
}

.event-listing-info {
	float: left;
	margin-left: 1em;
}

.event-listing-info h4 {
	margin: .2em 0;
	color: #00957f;
}

.event-listing-info p {
	margin: .1em 0;
}

.discussion-card img {
	width: 4em;
	float: left;
}

.discussion-card-content {
	float: left;
}


/*-------------- Home 2 Logged In ----------------*/

#user-home {
	width: 960px;
/*	border: 1px solid blue;*/
	margin: 3.5em auto 1em auto;
}

#user-home-nav {
	background-color: #C6D3D7;
	font-size: 1.1em;
	width: 15em;
}

#user-home-nav ul {
/*	padding: .6em 0;*/
}

#user-home-nav ul li {
	float: none;
	padding: 2em 0;
	margin-left: 2em;
/*	border-right: 1px solid #262626;*/
}


#user-home-nav ul li img {
	width: 3em;
	float: left;
	margin-right: .5em;
}

#user-home-nav a {
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-weight: 600;
}

#user-home-nav a:hover {
	color: #fff;
}

#user-home-nav-edit {
	font-size: .85em;
}



/*------------------------------ Profile -----------------*/

#profile {
	width: 66%;
/*	border: 1px solid green;*/
	float: left;
}

#profile-photo {
	float: left;
	margin-bottom: 1em;
}

#profile-photo img {
	width: 12.5em;
	height: 12.5em;
}

#name-card {
	float: left;
	margin: 0 2em;
}

#location-card {
	float: left;
	margin: 0 2em;
}

#blurb {
	clear: both;
}

.child-card {
	margin: .5em 0;
	padding: 1em 0;
}

.child-card h2{
	background-color: #C6D3D7;
	padding: .25em;
}

.child-info {
	width: 65%;
	float: left;
	padding: .25em;
}

.child-info article {
	padding: .2em 0;
	margin: .5em 0;
}

.child-photo {
	width: 25%;
	float: right;
	padding: .25em;
	margin: 1em 0;
}

.child-photo img {
	width: 100%
}


/*----------------------- Playdate Event ---------------------*/

#event-photo img {
	width: 100%;
}


#event-card {
	padding-bottom: 2em;
}

#event-card, #event-details {
	border-bottom: .1em solid #ecf1f2;
}

#event-details, #event-extra {
	padding: 2em 0;
}

#event-map {
	padding: 1em;
}

#event-photo {
	padding: 1em;
}

.event-category {
	color: #000;
	font-weight: 600;
}

.event-col {
	float: left;
	width: 44%;
	padding-right: 3%;

}


/*----------------------- Picture List ---------------------*/

/*.picture-list li {
	width: 90%;
	margin: .8em 0
}

.picture-list figure img {
	width: 3em;
	float: left;
	margin-right: .8em;
}

.picture-list figcaption {
	float: left;
	padding: .1em;
	font-size: .9em;
}
*/


/*----------------------- Picture Grid ---------------------*/

.picture-grid li {
	float: left;
	width: 5.5em;
	margin: .8em 2%;
}

.picture-grid figcaption {
	height: 3em;
}

.picture-grid figcaption p {
	font-size: .9em;
}

.view-all {
	float: right;
	margin-top: 1em;
}


/*------------------------------ Clearfix -------------------*/

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/*------------------------------Media Queries------------------*/

@media screen and (max-width: 1000px) {
	.hidden-nav {
		display: block;
	}

	.nav-trigger {
		display: block;
	}

	nav {
		display: none;
	}

	main {
		width: 100%;
	}

	aside {
		width: 90%;
		float: none;
		margin: 0 auto;
	}	

	#top-header {
		width: 100%;
		margin: 0 auto;
		padding: .5em 0;
	}

	#footer-nav {
		width: 100%;
		display: block;
		float: none;
	}


	#logo {
		margin-left: 1em;
	}

	#search {
		margin-right: 1em;
	}

	#search p {
		display: none;
	}

	#profile {
		width: 90%;
		float: none;
		margin: 0 auto;
	}

/*----------Mobile Nav----------*/

	#logo {
		padding-left: 50px;
	}

	main {
		margin: 2em auto;
	}

	.hidden-nav {
		    list-style: none;
		    background: #005A8F;
		    width: 100%;
		    height: 100%;
		    position: fixed;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    z-index: 0;
		    padding-top: 2em;
		}

	.wrapper {
	    min-width: 100%;
	    min-height: 100%;
	    background-color: #ecf1f2;
	    position: relative;
	    top: 0;
	    bottom: 100%;
	    left: 0;
	    z-index: 1;
	    padding: 4em 0;
	}

	.nav-trigger {
	    position: absolute;
	    clip: rect(0, 0, 0, 0);
	}

	label[for="nav-trigger"] {
	    position: fixed;
	    top: 15px;
	    left: 15px;
	    z-index: 2;
	    width: 30px;
	    height: 30px;
	    cursor: pointer;
	    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5'/><rect y='24' width='30' height='5'/><rect y='12' width='30' height='5'/></svg>");
	    background-size: contain;
	}

	.nav-trigger:checked + label {
	    left: 185px;
	}
	 
	.nav-trigger:checked ~ .wrapper {
	    left: 170px;
	}

	.nav-trigger + label, .wrapper {
	    transition: left 0.2s;
	}

	.hidden-nav li {
		border-bottom: 1px solid #262626;
		padding: 1em;
	}

	.hidden-nav li a{
			font-size: 1em;
			font-family: 'Raleway', sans-serif;
			color: #fff;
	}

/*-------------End Mobile Nav----------------*/

	#event-photo {
		display: none;
	}

}

@media only screen and (min-width: 801px) and (max-width: 1000px) {

	#name-card {
		width: 60%;
	}

	.child-photo {
		width: 20%;
	}
}


@media only screen and (min-width: 551px) and (max-width: 800px) {
	main {
		width: 90%;
	}

	#profile-photo img {
		width: 9em;
		height: 9em;
	}

	section {
		padding: 1.5em 1.2em;
	}

	#search {
	width: 40%;
	}

}


@media only screen and (min-width: 401px) and (max-width: 550px) {

	#profile-photo img {
		width: 6em;
		height: 6em;
	}
	
	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 16px;
	}

	#location-card {
		width: 100%;
		margin: 1em 0;
	}

	.event-col {
	float: none;
	width: 100%;
	padding-right: none;
	}

	#search {
		display: none;
	}

}


@media only screen and (max-width: 400px) {

	#profile-photo img {
		width: 6em;
		height: 6em;
	}

	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 16px;
	}

	#location-card {
		width: 100%;
		margin: 1em 0;
	}

		.event-col {
	float: none;
	width: 100%;
	padding-right: none;
	}

	#search {
		display: none;
	}

}